.new-home-page {
  background-color: #f7f7f7;
  .new-home-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    // width: 80%;
    width: 90%;
    margin: 24px auto;
    max-width: 1200px;
    .new-home-main-top {
      display: flex;
      gap: 24px;
      @media screen and (max-width: 1220px) {
        flex-wrap: wrap;
      }
    }
    .usearly-drawing-container {
      .usearly-wrap {
        .usearly-svg {
          max-width: 1200px;
        }
      }
    }
  }
}

.scroll-section {
  width: 100%;
  max-width: 1100px; // ou 1200px selon ton design
  margin: 0 auto;
  padding: 140px 20px; // espace autour
  text-align: center;

  @media (max-width: 768px) {
    padding: 80px 16px;
  }
}
