.user-profile-banner {
  background: #1a083a;
  color: white;
  width: 100%;
  position: relative;
  margin-bottom: 80px;
  height: 120px;
}

/* CONTAINER */
.banner-container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* TOP LINE */
.banner-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT — AVATAR + TEXTE */
.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(80px);
  overflow: visible;
  z-index: 4;
  //width: 80px;
}

/* AVATAR — LÉGÈREMENT POSÉ */
.avatar-wrapper-profile {
  position: absolute;
  top: -120px; // 👈 avatar “posé” sur le banner
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;

  width: 150px;
  height: 150px;
}
/* TEXTE SOUS L’AVATAR */
.identity {
  text-align: center;
  position: relative;

  .name {
    font-weight: 600;
    font-size: 1.4rem;
    color: #1a083a;
    font-family: "urbanist";
  }

  .level {
    font-family: "inter";
    font-size: 0.75rem;
    opacity: 0.7;
    color: #1a083a;
    line-height: 1;
  }
}

/* CENTER — STATS */
.stats-inline {
  position: relative;
  display: flex;
  gap: 3.6rem;
  top: -35px;
}

.stat {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  opacity: 0.55;

  transform: scale(0.96);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

  .stat-value {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: 40px;
    font-weight: 300;
    transition: transform 0.25s ease;
  }

  .label {
    font-size: 0.7rem;
    opacity: 0.8;
    margin-top: 0.25rem;
    transition: opacity 0.25s ease;
    font-family: "raleway";
  }

  &.active {
    opacity: 1;
    transform: scale(1);

    .stat-value {
      transform: translateY(-2px);
    }

    .label {
      opacity: 1;
      font-family: "Raleway";
      font-size: 13px;
    }
  }
}

/* RIGHT — POWER */
.right-badge {
  position: relative;
}
.power {
  display: flex;
  flex-direction: column; /* éléments l’un sous l’autre */
  align-items: center; /* centrage horizontal */
  text-align: center;
  margin-top: 20px;

  .label {
    font-size: 0.7rem;
    font-weight: 200;
    opacity: 0.7;
    color: white;
  }

  .value {
    font-family: "Onest";
    align-items: center;
    gap: 0.3rem;
    font-size: 1.8rem;
    font-weight: 700;

    img {
      width: 80px;
      height: auto;
    }
  }
}
