@use "@styles/base/_variables" as *;
@use "@styles/utils/mixins" as *;

.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;

  h2 {
    text-align: left;
    font-family: $font-main-title;
    font-size: 2.25rem;
    font-weight: 500;
    color: $dark;
    margin-bottom: 8px;
  }

  p {
    font-family: $font-main-text;
    text-align: left;
    font-size: 0.813rem;
    color: $dark;
  }

  .login-subtitle {
    margin-bottom: 38px;
  }

  .login-mdp-subtitle {
    font-weight: 500;
    font-size: 16px;
    span {
      color: #585858;
      margin-left: 12px;
      text-decoration: underline;
      font-weight: 700;
      font-family: "inter", sans-serif;
      font-size: 14px;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .info-text {
      margin-top: 18px;
      font-size: 0.813rem;
      color: $dark;
      text-align: left;
      p {
        a {
          color: $dark;
          text-decoration: underline !important;
          cursor: pointer;
        }
      }
    }

    .login-options {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      align-items: center;
      margin: 0 5px;
      margin-top: 7px;

      label {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 600;
        cursor: pointer;

        input {
          border: 1px solid $dark;
        }
      }

      .forgot-link {
        color: #585858;
        margin-left: 12px;
        text-decoration: underline;
        font-weight: 700;
        font-family: "inter", sans-serif;
        font-size: 14px;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        cursor: pointer;
      }
    }

    .btn-primary {
      margin-top: 34px;
    }
  }

  .login-footer-logo {
    margin-top: 80px;
    font-size: 100px;
    color: #f2f2f2;
    font-weight: bold;
    opacity: 0.3;
  }

  .error-message {
    color: $danger;
    font-size: 0.875rem;
    margin: 7px 5px 10px 5px;
    text-align: left;
  }
}
