.text-pill {
  --pill-bg: #4549ef;
  --pill-fg: #ffffff;
  --pill-hover-fg: var(--pill-bg);
  padding: 0px 10px;
  height: 40px;
  border-radius: 999px;

  // pour l'animation/transition
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--pill-fg);
  border: 1px solid var(--pill-bg);
  font-weight: 600;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.text-pill:hover,
.text-pill:focus-visible {
  color: var(--pill-hover-fg);
  background-size: 150% 150%;
}

.text-pill.is-active:hover,
.text-pill.is-active:focus-visible {
  color: var(--pill-fg);
  background-size: 0% 0%;
}

.text-pill.is-active {
  background-color: var(--pill-bg);
}
