.coupdecoeur-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;

  .coupdecoeur-card-wrapper,
  .suggestion-card-wrapper {
    width: 700px;
    .feedback-card {
      border-radius: 12px;
      padding: 20px 16px 0px 15px;

      .feedback-type {
        padding-bottom: 20px;
        .feedback-left {
          width: 269px;
          height: 299px;
          border-radius: 16px;
        }
      }
    }
  }
  .usearly-wrap {
    min-height: 25vh;
  }
}

.page-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 30px 0;
  text-align: center;
  color: #222;
}
