.hero-section {
  position: relative;
  padding: 160px 0 240px;
  background: #989dff;
  height: 100vh;
  overflow: hidden;
}

.hero-title {
  text-align: center;
  font-size: 150px;
  font-weight: 900;
  line-height: 1.05;
  color: #000;
}

.mouse-images-zone {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}

.mouse-reveal-img {
  position: absolute;
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 24px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.mouse-reveal-section {
  width: 100%;
  position: relative;
  padding: 200px 0;
  background: #c8b7ff;
  overflow: hidden;
}

.mouse-image {
  position: fixed;
  width: 360px;
  height: 360px;
  border-radius: 25px;
  object-fit: cover;
  pointer-events: none;
  z-index: 10;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

.typing-fullword {
  display: inline-block;
  white-space: nowrap;
}

.cursor {
  display: inline-block;
  width: 10px; // ← curseur très fin
  height: 1em;
  background: currentColor;
  margin-left: 6px;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ----------------------------- */
/*   ANIMATION TITRES HERO       */
/* ----------------------------- */

.hero-title {
  position: relative;

  .title-top,
  .title-bottom {
    display: inline-block;
    opacity: 0;
  }

  /* AMÉLIORER → arrive du haut */
  .title-top {
    transform: translateY(-50px);
    animation: slideFromTop 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  /* L’EXPÉRIENCE → arrive du bas */
  .title-bottom {
    transform: translateY(50px);
    animation: slideFromBottom 1s cubic-bezier(0.22, 1, 0.36, 1) 0.15s forwards;
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
