.mouse-trail-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: auto;
}

.trail-img {
  all: unset;
  position: absolute;
  width: 110px;
  height: 110px;
  object-fit: cover;
  pointer-events: none;
  border-radius: 18px;

  /* pas de translate ici */
  filter: drop-shadow(0px 18px 32px rgba(0, 0, 0, 0.25));
}
