@use "@src/styles/base/variables" as *;

.filter-bar-generic-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.filter-bar-generic-actions {
  display: flex;
  align-items: center;
}
