.profile-filters {
  display: flex;

  .control {
    display: flex;
    align-items: stretch;
    gap: 12px;
    min-height: 44px;
  }

  .brand-select--profile {
    height: 37px;

    .brand-select__trigger {
      height: 100%;
      min-height: 44px;
      box-sizing: border-box;
    }
  }
}
