@use "@src/styles/base/variables" as *;

.main-top-bar {
  position: relative; // Permet à .banner-content de se positionner par rapport à .main-top-bar
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  height: 260px;
  background: rgb(14, 4, 49)
  margin-top: 60px;;

  .banner-content {
    position: absolute; // Permet de centrer par rapport à la page
    left: 50%; // Centre horizontalement
    transform: translateX(-50%); // Ajuste pour un vrai centrage
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .right {
    margin-left: auto; // Maintient la zone de droite complètement à droite
    display: flex;
    align-items: center;

    .decorative-logos {
      position: relative;
      height: 150px;

      .logo {
        position: absolute;
        animation: float 3s ease-in-out infinite;
        opacity: 0.2;
        &.logo-big {
          top: -75px;
          right: 120px;
          animation-delay: 0s;
        }

        &.logo-medium {
          top: -25px;
          right: 350px;
          animation-delay: 1s;
        }

        &.logo-small {
          top: 100px;
          right: 200px;
          animation-delay: 2s;
        }
        &.logo-badge {
          object-fit: cover;
          width: 120px;
          top: -10px;
          right: 250px;
          animation: none;
          opacity: 1 !important;
        }
      }
    }

    @keyframes float {
      0%,
      100% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-5px);
      }
    }
  }
}
