@use "@src/styles/base/variables" as *;

.user-sidebar-stats {
  background-color: white;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid $border-color;
  margin-top: 40px;
  margin-left: auto;
  height: fit-content;
  width: 260px;

  .top-badge {
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
    color: #555;
    font-family: Raleway;

    span {
      color: black;
    }
  }

  .hr-profile {
    border: none;
    border-top: 1px solid #eee;
    margin: 12px 0;
    width: 100%;
  }

  h4 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
    color: #4e8cff;
    font-family: Onest;
  }

  .contribution-list {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    font-family: Inter;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;
      gap: 8px;
      font-size: 14px;
      color: #000;
      img {
        width: 40px;
        height: 40px;
      }

      .label {
        flex: 1;
        font-size: 13px;
        font-weight: 400;
      }

      .value {
        font-weight: 700;
        font-size: 14px;
        font-family: Raleway;
      }
    }
  }
}
