@use "@src/styles/base/variables" as *;

.user-profile-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}

// ===== Bandeau violet haut =====
.main-top-bar {
  position: relative; // Permet à .banner-content de se positionner par rapport à .main-top-bar
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  height: 260px;
  background: rgb(14, 4, 49);

  .banner-content {
    position: absolute; // Permet de centrer par rapport à la page
    left: 50%; // Centre horizontalement
    transform: translateX(-50%); // Ajuste pour un vrai centrage
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .left {
    margin-left: 5%; // Maintient la zone de droite complètement à droite
    display: flex;
    align-items: center;
  }
  .chat {
    width: 260px;
    margin-top: -170px;
    opacity: 0.2;
    margin-left: -50px;
  }

  .right {
    margin-left: auto; // Maintient la zone de droite complètement à droite
    display: flex;
    align-items: center;

    .decorative-logos {
      position: relative;
      height: 130px;
      width: 200px;

      .logo {
        position: absolute;
        animation: float 3s ease-in-out infinite;

        &.logo-big {
          top: -75px;
          right: 120px;
          opacity: 0.2;
          animation-delay: 0s;
        }

        &.logo-medium {
          top: -25px;
          right: 350px;
          opacity: 0.2;
          animation-delay: 1s;
        }

        &.logo-small {
          top: 100px;
          right: 200px;
          opacity: 0.2;
          animation-delay: 2s;
        }
        &.logo-badge {
          object-fit: cover;
          width: 120px;
          top: -10px;
          right: 250px;
          opacity: 1;
          animation: none;
        }
      }
    }

    @keyframes float {
      0%,
      100% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-5px);
      }
    }
  }

  .user-header {
    position: absolute;
    bottom: -50px; // ajuste pour faire dépasser
    left: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 4px solid #fff;
      overflow: hidden;
      background-color: #f0e9ff;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
      }

      .user-level {
        color: #ccc;
        font-size: 0.9rem;
      }
    }
  }
}

// ===== Contenu principal (3 colonnes) =====
.user-main-content {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  padding: 1rem 2rem;
  margin: 0 auto;
  gap: 40px !important;
  .feedback-list-wrapper {
    width: 65%;
    max-width: 655px;
  }
}

// Colonne gauche
.left-panel {
  margin-top: -90px;
}

// Colonne droite
.right-panel {
  margin-top: 26px;
  align-self: center;

  .separator {
    height: 1px;
    background: #f0f0f0;
    width: 80%;
    margin: 1.4rem auto; // 'auto' centre horizontalement
  }
}

.cdc-banner-container {
  .feedback-list-wrapper {
    .feedback-view-container {
      @media screen and (min-width: 1350px) {
        margin-right: 20px;
      }
      .right-panel {
        margin-top: 0;
        align-self: center;
      }
    }
  }
}

// Zone centrale
.feedback-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0px 0;
}

.brand-block .subcategories-list .subcategory-block.open {
  box-shadow: none !important;
  border: 1px solid #f0f0f0 !important;
}

// ===== Responsive =====
@media (max-width: 992px) {
  .user-main-content {
    grid-template-columns: 1fr;
  }

  .left-panel,
  .right-panel {
    order: 2;
  }

  .feedback-list-wrapper {
    order: 1;
  }
}
