@use "@src/styles/base/variables" as *;

.user-stats-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 3.5rem 8px 2rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: inherit;
  inline-size: 300px;
  border: 1px solid $border-color;
}

// Avatar circulaire débordant
.avatar-wrapper {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
}

// Nom + niveau
.username {
  font-family: "Urbanist";
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #222;
}

.user-level {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-top: -16px;
}

// Section stats
.feedback-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid #f1f1f1;
  padding: 8px 0;
  font-family: Inter;

  .stat-item {
    flex: 1;
    text-align: center;
    position: relative;
    .label {
      font-size: 12px;
      font-weight: 400;
      color: $secondary;
      display: block;
      margin-bottom: 0.3rem;
    }

    .value {
      font-size: 20px;
      font-weight: 600;
      color: #000;
    }
    &.large-item {
      flex: 1.14;
      min-inline-size: 100px; /* Forcer un min de largeur */
    }
  }

  .stat-item:not(:last-child) {
    border-right: 1px solid #eee;
  }
}

// Section Power
.power-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .label {
    font-size: 12px;
    font-weight: 500;
    font-family: Inter;
    color: $secondary;
  }

  .value {
    font-size: 32px;
    font-weight: 700;
    font-family: Onest;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .score-icon {
    background-color: #3e6efc;
    width:30px;
    padding:7px 4px 6px 6px;
    border-radius:8px;
    
    
  }
    

  .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    button {
      border: 1px solid #000;
      border-radius: 25px;
      padding: 8px 12px;
      cursor: pointer;
      background: none;
    }

    img {
      object-fit: cover;
    }
  }
}
