.point {
  font-size: 1rem;
  color: var(--color-text-low-emphasis);
  font-weight: 700;
  padding: 0 4px;

  &:hover {
    text-decoration: none !important;
  }
}

.count-right {
  :hover {
    text-decoration: underline;
    text-underline-offset: 4px; // ajuste la distance
  }
}

.report-actions-bar {
  width: 100%;
  padding: 16px 8px 0px 8px;

  .counts-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0 0.2rem 0;
    font-size: 0.85rem;
    color: #374151;

    .count-left,
    .count-right {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 13px;
      font-family: "Arial";
      color: #686c7d;

      :hover {
        color: #111827;
      }

      .emoji-icon {
        font-size: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1; // force la hauteur exacte
        vertical-align: middle; // renfort inline
        text-decoration: none;
      }

      .reaction-count {
        font-weight: bold;
        line-height: 1; // force l'alignement vertical
        margin: 0; // supprime tout margin résiduel
        vertical-align: middle;
        display: inline-flex; // garantit l'alignement
        align-items: center;
      }

      svg {
        color: #6b7280;
      }
    }
  }

  .separator {
    height: 1px;
    background: #e8e8e8;
    width: 100%;
    margin: 0.2rem 0;
  }

  .actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    font-family: "Arial";

    .actions-left {
      display: flex;
      gap: 1.6rem;

      button {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        padding: 0;
        transition: color 0.2s;
        color:#535353;


        &:hover {
          color: #111827;

          svg {
            color: #111827;
          }
        }
      }
    }

    .status-right {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      color: #2563eb;
      font-size: 0.85rem;
      font-weight: 500;
    }
  }
}

.emoji-reaction-picker {
  .emoji-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
