.brand-card {
  width: 100%;
  max-width: 1600px;
  min-height: 400px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 55px 0 30px 0px;
  gap: 20px;
  border: 1px solid #ebebeb;
  @media screen and (max-width: 600px) {
    min-height: 340px;
  }
  .brand-title {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 60px;
    @media screen and (max-width: 600px) {
      padding: 0 7%;
    }
    h2 {
      font-family: Onest;
      font-size: 50px;
      font-weight: 700;
      margin: 0;
      @media screen and (max-width: 900px) {
        font-size: 36px;
      }
      @media screen and (max-width: 600px) {
        font-size: 24px;
      }
    }

    img {
      width: 70px;
      height: 70px;
      margin-top: -8px;
      @media screen and (max-width: 485px) {
        display: none;
      }
    }
  }

  .brand-main {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;

    .brand-slider {
      display: flex;
      animation: scrollInfinite 45s linear infinite;
      width: calc(100px * 30 + 20px * 30);
      gap: 75px;
      @media screen and (max-width: 600px) {
        gap: 0px;
      }
      .brand-item {
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        .brand-logo {
          min-width: 100px;
          min-height: 100px;
          max-width: 100px;
          max-height: 100px;
          object-fit: contain;
          @media screen and (max-width: 600px) {
            min-width: 50px;
            min-height: 50px;
            max-width: 50px;
            max-height: 50px;
          }
        }
      }
    }
  }

  .brand-footer {
    width: 100%;
    padding: 0 60px;
    @media screen and (max-width: 600px) {
      padding: 0 7%;
    }

    .brand-btn {
      background: #000;
      color: #fff;
      border: none;
      border-radius: 40px;
      padding: 14px 24px;
      font-size: 15px;
      width: fit-content;
      font-weight: 600;
      cursor: pointer;
      transition: transform 0.2s ease;

      &::before {
        display: none;
      }

      &:hover {
        transform: translateY(-2px);
        color: #fff !important;
        outline-color: transparent;
      }

      &:hover > * {
        color: #fff !important;
      }

      @media screen and (min-width: 900px) {
        padding: 16px 28px;
        font-size: 17px;
      }

      @media screen and (min-width: 1200px) {
        padding: 18px 32px;
        font-size: 19px;
      }

      @media screen and (min-width: 1600px) {
        padding: 20px 36px;
        font-size: 21px;
      }
    }
  }
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 10 - 20px * 10));
  }
}
