@use "../../../styles/base/variables" as *;

.main-top-bar-home {
  position: relative; // Permet à .banner-content de se positionner par rapport à .main-top-bar
  display: flex;
  align-items: center;
  width: 100%;
  height: 210px;
  background: rgb(14, 4, 49);
  .chat {
    opacity: 0.1;
    position: relative;
    top: -40px;
    width: 340px;
  }

  .text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Urbanist, sans-serif;
    font-size: 36px;
    font-weight: 200;
    line-height: 130%;
    align-items: center;
    gap: 8px; // tu peux garder le gap si tu veux un peu d’espace entre les mots
    z-index: 999;

    .text__decoration {
      position: relative;
      display: inline-block;

      .emoji {
        position: absolute;
        bottom: 35px;
        right: -4px;
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.25);
        }
      }

      .bulle {
        margin: 0 10px -35px 5px;
        width: 220px;
      }
    }
  }

  .right {
    margin-left: auto; // Maintient la zone de droite complètement à droite
    display: flex;
    align-items: center;

    .decorative-logos {
      position: relative;
      height: 150px;

      .logo {
        position: absolute;
        animation: float 3s ease-in-out infinite;
        opacity: 0.15;

        &.logo-big {
          top: -75px;
          right: 120px;
          animation-delay: 0s;
        }

        &.logo-medium {
          top: 0px;
          right: 280px;
          animation-delay: 1s;
        }

        &.logo-small {
          top: 100px;
          right: 200px;
          animation-delay: 2s;
        }
        &.logo-badge {
          object-fit: cover;
          width: 120px;
          top: -10px;
          right: 250px;
          animation: none;
        }
      }
    }

    @keyframes float {
      0%,
      100% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-5px);
      }
    }
  }
}
