.signal-card {
  background: #d4d5ff;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .signal-title {
    font-size: 36px;
    font-weight: 700;
    font-family: Onest;
    display: flex;
    align-items: flex-end;

    img {
      width: 70px;
      height: 70px;
      margin-right: 12px;
    }
  }

  .signal-content {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .signal-main {
    width: 100%;
    height: 190px; // Hauteur pour 2 images
    overflow: hidden;
    border-radius: 12px;
    flex: 1;
  }

  .signal-slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;
  }

  .signal-slide {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .signal-btn {
    width: auto;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 32px;
    padding: 16px 20px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    align-self: flex-start;
  }
}
