.suggestion-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  padding-top: 13px;

  .usearly-wrap {
    min-height: 25vh !important;
  }
}

.suggestion-card-wrapper {
  width: 700px;
  .feedback-card {
    border-radius: 12px;
    padding: 20px 16px 0px 15px;

    .feedback-type {
      flex: none;
      width: 269px;
      height: 299px;
      border-radius: 16px;
      padding-bottom: 16px;

      .feedback-left {
        border-radius: 16px;
      }
    }
  }
}

.page-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  color: #222;
}
