@use "@src/styles/base/variables" as *;

.new-home-video-text-download-container {
  display: flex;
  margin: 24px 60px 0 60px;
  justify-content: center;
  .new-home-video-text-download-icon-container {
    display: flex;
    gap: 16px;
    .new-home-video-text-download-icon {
      cursor: pointer;
      img {
        width: 140px;
        height: 50px;
        object-fit: contain;
      }
    }
  }
  .new-home-video-text-download-text {
    align-self: center;
    margin-left: 35px;
    p {
      text-align: left;
      font-weight: 300;
      font-family: $font-family;
    }
  }
}
