@use "@src/styles/base/variables" as *;
// .close-btn {
//     position: absolute;
//     top: 8px;
//     right: 10px;
//     background: rgba(255, 255, 255, 0.85);
//     border: none;
//     font-size: 1.2rem;
//     cursor: pointer;
//     border-radius: 50%;
//     padding: 4px 8px;
//     transition: background 0.2s;
//     &:hover {
//       background: rgba(255, 255, 255, 1);
//     }
// }
.lightbox-close {
  z-index: 10;
  position: absolute;
  top: -14px;
  right: -14px;
  width: 38px;
  height: 38px;
  padding-top: 2px;
  border-radius: 50%;
  border: 0px solid rgba(0, 0, 0, 0.85);
  background-color: #ffffff;
  font-family: $font-family-4;
  color: #000000;
  font-size: 2.25rem;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.2s ease,
    transform 0.2s ease;
  backdrop-filter: blur(4px);

  &:hover {
    background: rgba(21, 21, 21, 0.75);
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
  }

  &:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
}
