@use "base/reset";
@use "base/variables";
@use "base/typography";
@use "utils/mixins";

// Composants
@use "components/header";
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

/* Empêche le défilement horizontal */
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Évite les débordements involontaires */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ⚠️ N’applique pas de style global aux iframes */
iframe:not(.youtube-player-raw) {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Si tu as de très longs mots/URLs */
// :where(p, li, a, span, h1, h2, h3, h4, h5, h6) { overflow-wrap: anywhere; }

.text-highlight-usearly {
  color: #4549ef;
}

.svgOrImgBlackToWhite {
  filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(119deg)
    brightness(107%) contrast(106%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: variables.$scrollBarColor transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$scrollBarColor;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
}
