/* .right-panel {
  margin-top: 20px;
  z-index: 2;
}
.content-background {
  position: absolute;
  top: 400px;
  left: 430px;
  right: 0;
  height: 350px;
  width: 66%;
  background: #986bff;
  border-radius: 16px;
  z-index: 0;
}
.home-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  .filters-header {
    padding: 0;
    height: 300px;

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.3;
      color: #1f1f1f;
      margin-bottom: 1.5rem;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      width: 100%;
      max-width: 330px;
      height: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      top: 70px;
    }
  }

  .filters-list {
    width: 340px;
    max-width: 100%;
    padding: 2rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;

    .filter-line {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 1rem;
      font-weight: 500;
      color: #111827;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0.6rem 0;
      border-bottom: 1px solid #e5e7eb;
      line-height: 1.4;

      &:hover {
        font-weight: 600;
      }

      .emoji {
        font-size: 1.8rem;
      }

      &.active {
        padding-left: 0px;
        font-weight: 600;
      }
    }
  }
}
 */