.cdc-filters {
  width: 320px;
  z-index: 2;
}

.home-filters-cdc {
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.filter-item {
  display: flex;
  align-items: center;
  font-family: "Inter";
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #e2e2e2;
}

.filter-item:last-child {
  border-bottom: none;
}

.filter-icon {
  width: 44px;
  height: 44px;
  object-fit: contain; /* très important */
  flex-shrink: 0;
}

.filter-label {
  font-size: 15px;
  color: #111;
  &:hover {
    font-weight: 600;
     cursor: pointer;
  }
}
