.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .profile-filters-container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

    .profile-filters {
      display: flex;
      align-items: center;
      gap: 12px;

      .control {
        display: flex;
        align-items: center;
        gap: 8px;

        select {
          padding: 10px 12px;
          border: 1px solid #0000001c;
          border-radius: 10px;
          font-size: 13px;
          font-weight: 400;
          background-color: white;
          cursor: pointer;
          color: #575757;
        }
      }
    }
  }
  .reset-filters-button {
    background: none;
    border: none;
    margin-top: 4px;
    cursor: pointer;
  }
  .profile-filters {
    .control {
      display: flex;
      gap: 12px;
      align-items: center;

      select {
        padding: 10px 12px;
        border: 1px solid #0000001c;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 400;
        background-color: white;
        cursor: pointer;
        color: #575757;
        appearance: none; // Supprime les chevrons natifs
        -moz-appearance: none; // Firefox
        -webkit-appearance: none; // Safari et Chrome
        position: relative; // Nécessaire pour le chevron personnalisé

        &:focus {
          outline: none;
        }
      }

      // Wrapper pour le chevron personnalisé
      .select-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        min-width: 150px; // Largeur minimale pour le select

        select {
          width: 100%;
        }

        .chevron-icon {
          position: absolute;
          right: 10px;
          pointer-events: none;
        }
      }
    }
  }
}

.sort-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 12px;
  border: 1px solid #0000001c;
  border-radius: 10px;
  background: white;
  cursor: pointer;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 4px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 100px;

    button {
      display: block;
      width: 100%;
      padding: 8px 12px;
      background: none;
      border: none;
      text-align: left;
      font-size: 13px;
      cursor: pointer;

      &.active {
        font-weight: bold;
        background-color: #f0f0f0;
      }

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
}
