.password-rules {
  text-align: left;
  margin-top: -12.5px;

  span {
    font-size: 0.9rem;
    &.valid {
      display: none;
    }

    &.invalid {
      font-size: 0.875rem;
    }
  }
}

.invalid-special {
  color: rgb(209, 0, 0);
  text-align: left;
  font-size: 0.85rem;
  margin-bottom: 0 !important;
}
