@use "sass:color";
@use "../base/variables" as *;

@mixin button {
  font-family: $font-family;
  padding: 0.75rem 1.25rem;
  background-color: $primary;
  color: white;
  border: none;
  border-radius: $border-radius-md;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: color.adjust($primary, $lightness: -10%);
  }
}

@mixin heading {
  font-family: $font-main-title;
  font-weight: 600;
  color: $dark;
  line-height: 1.3;
}

@mixin input {
  font-family: $font-main-text;
  width: 100%;
  border: 1px solid $gray-300;
  background-color: $white;
  color: $gray-800;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder {
    color: $gray-500;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba($primary, 0.15);
  }
}
