@use "@src/styles/base/variables" as *;

.confirm-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 591px;
  margin: 40px auto;
  padding: 2.5rem 3rem;
  background-color: #fff;
  border-radius: 8px;
  filter: drop-shadow(0 4px 0 rgba(0, 0, 0, 0.1));
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #333;
    font-family: $font-family-2;
  }

  .code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 0px 27px 0px;

    input {
      width: 40px;
      height: 50px;
      text-align: center;
      font-size: 1.5rem;
      border: 1px solid #000000;
      border-radius: 8px;
      transition: border-color 0.3s ease;

      // ⚠️ reset pour éviter les styles globaux
      padding: 0 !important;
      background: #fff !important;
      color: #000 !important;
      box-shadow: none !important;
    }

    input:focus {
      outline: none;
      border-color: #2d1e2c;
    }
  }

  .confirm-btn {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #2d1e2c;
    font-weight: 600;
    cursor: pointer;
  }

  .resend-link {
    display: inline-block;
    margin-top: 1rem;
    color: $dark;
    cursor: pointer;
    font-size: 0.95rem;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
}
