@use "@src/styles/base/variables" as *;

.report-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0px 12px;
  margin-bottom: 0.2rem;
  box-shadow: 0 2px 2px 0px rgb(0 0 0 / 9%);
  border: 1px solid rgb(243 243 243);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 3px 16px -3px rgba(0, 0, 0, 0.19);

    &.open {
      background-color: rgb(255 255 255);
      box-shadow: 0 3px 8px 0px rgba(0 0 0 / 5%);
    }
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 14px 0.5rem;

  .left-icon img {
    max-width: 50px;
    max-height: 70px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .card-title {
    display: flex;
    align-items: center; // aligne l'icône et le titre
    width: 100%; // AJOUTER CECI

    .title-and-meta {
      display: flex;
      align-items: center;
      justify-content: space-between; // <-- clé pour pousser la meta-info à droite
      width: 100%;

      h4 {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        flex-grow: 1;
        color: #000;
      }

      .meta-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-left: auto; // cette ligne est optionnelle si justify-content est bien appliqué

        .count {
          background-color: #3e6efc;
          color: white;
          font-size: 0.8rem;
          font-weight: 600;
          padding: 2px 14px;
          border-radius: 12px;
          font-family: "inter";
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }

        .date-card {
          color: grey;
          font-size: 12px;
          font-family: "inter";
          font-weight: 300;
          padding: 0 8px;
          display: block;
          text-align: left;
          margin-right: auto;
        }
      }
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-left: auto;

    .brand-logo-container {
      .brand-logo {
        width: 48px;
        height: 48px;
        //border-radius: 50%;
        object-fit: contain;
        margin-left: 40px;
      }
    }

    .user-brand-inline {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatars {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 10px;

        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
          z-index: 1;
          border: 2px solid #fff;

          &:first-child {
            width: 48px;
            height: 48px;
            right: 24px;
            border: 2px solid white;
            z-index: 1;
            position: relative;
          }

          &:last-child {
            position: absolute;
            right: -10px;
            width: 48px;
            height: 48px;
            background-color: white;
            object-fit: contain; // ou cover selon le rendu souhaité
            border-radius: 50%;
            border: 2px solid white;
            z-index: 2;
          }
        }
      }

      .label {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #333;
        font-family: "inter";
        font-weight: 300;
        width: max-content;
        max-width: 120px;
        text-align: center;
        line-height: 1.4;
        white-space: normal;
        word-break: break-word;
        text-overflow: ellipsis;
        position: relative;
        top: 16px;

        .x {
          margin: 0 3px;
        }

        strong {
          font-weight: 800;
        }
      }
    }
  }
}

.chevron {
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-description {
  max-width: 400px;
  margin-left: 70px;
  padding-bottom: 0px;
  line-height: 20px;
  font-size: 15px;
  position:relative;
  top: -40px;
}
