@use "@styles/base/variables" as *;
@use "@styles/utils/mixins" as *;

.reset-password {
  max-width: 591px;
  margin: 5rem auto;
  padding: 4rem;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0 4px 0 rgba(0, 0, 0, 0.1));
  font-family: $font-family;

  h2 {
    @include heading;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .error {
    color: $danger;
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }

  .success {
    color: $success;
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
  }
}
