@use "@src/styles/base/variables" as *;

.extension-example-text-container {
  z-index: 999;
  display: flex;
  flex-direction: column;
  color: white;
  width: 45%;
  gap: 48px;
  .extension-example-title {
    font-family: $font-family-4;
    font-size: 54px;

    .typewriter {
      display: inline;
      position: relative;
      min-height: 1em;

      .typewriter__text {
        display: inline;
      }
    }
  }
  .extension-example-description {
    width: 90%;
    font-size: 24px;
    font-family: $font-family;
    font-weight: 200;
    line-height: 193%;
  }
}
