@use "../../../../styles/base/variables" as *;

.search-bar {
  position: absolute;
  right: 15px;
  top: -66px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 0;
  margin-left: auto;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid $border-color;
    cursor: pointer;
    transition:
      border-radius 0.2s ease,
      border-color 0.2s ease;
    flex-shrink: 0;
  }

  .icon.active {
    height: 48px;
    width: 48px;
    border-radius: 0 999px 999px 0;
    border: 1px solid $dark;
    border-left: none;
  }

  .input {
    flex: 0 0 auto;
    height: 46px;
    width: 0;
    min-width: 0;
    padding: 0;
    border-radius: 999px 0 0 999px;
    border: 0px solid transparent;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2;
    color: inherit;
    opacity: 0;
    pointer-events: none;
    transition:
      width 0.25s ease,
      padding 0.2s ease,
      opacity 0.15s ease,
      border-color 0.2s ease;
  }

  .input.active {
    width: 230px;
    max-width: 100%;
    padding: 0 14px;
    padding-right: 0px;
    opacity: 1;
    pointer-events: auto;
    border-color: $border-color;
    border-right: none;
    outline: 1px solid black;
  }

  .input:focus-visible {
    outline: 1px solid $dark;
  }
}
