@use "@src/styles/base/variables" as *;
@use "@src/styles/utils/mixins" as *;

.report-group {
  background: #fff;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #e4e4e4;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 20px;
    width: 100%;
    height: 70px;

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .report-date {
        display: none;
      }
    }

    .report-main-info {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      strong {
        font-weight: 800;
      }
    }

    .report-date {
      font-size: 13px;
      font-weight: 500;
      font-family: Urbanist;
      color: $secondary;
    }

    .brand-logo {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      object-fit: contain;
      border: 1px solid rgba(0, 0, 0, 0.06);
    }
  }

  .report-list {
    padding: 1rem 1.6rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #fff;
  }
}
