.extension-example-container {
  position: relative;
  width: 100vw;
  min-height: 101vh;
  padding: 150px 162px 100px 100px;
  display: flex;
  justify-content: space-between;
  background: #191637;
  overflow: hidden;
}

img.img2 {
  z-index: 1;
  position: absolute;
  inset: 0;
  width: 90%;
  height: 100%;
  margin-left: 20%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}
